.home-page {
  padding: 0 5%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.section-principal {
  display: flex;
  flex: 1;
  padding: 4% 0 5% 0;
  gap: 30px;

}

.section-graph {
  display: flex;
  flex-direction: column;
  flex: .7;
  // padding: 20px 0;
  gap: 30px;

  .section-horizontal-graphs {
    display: flex;
    flex: .4;
    gap: 20px;
  }

  .recharts-responsive-container {
    position: relative;
    flex: 1;
  }


}

.section-info-cards {
  display: flex;
  flex-direction: column;
  flex: .3;
  justify-content: space-between;
}