.home-page {
  padding: 0 6%;
  display: flex;
  flex: 1;
  flex-direction: column;

  @media (max-width: 1100px) {
    padding: 0 2%;
  }
}

.section-principal {
  display: flex;
  flex: 1;
  padding: 8% 0 8% 0;
  gap: 30px;

  @media (max-height: 800px) {
    padding: 2% 0 6% 0;
  }

}

.section-graph {
  display: flex;
  flex-direction: column;
  flex: .75;
  // padding: 20px 0;
  gap: 30px;

  .section-horizontal-graphs {
    display: flex;
    // flex: .3;
    height: 45%;
    gap: 30px;
  }

  .recharts-responsive-container {
    position: relative;
    flex: 1;
  }


}

.section-info-cards {
  display: flex;
  flex-direction: column;
  flex: .25;
  justify-content: space-between;
}

@media (min-width: 680px) {}