.home-page {
  padding: 30px 90px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.section-principal {
  display: flex;

  .recharts-responsive-container {
    flex: 1;
  }
}

.section-info-cards {
  display: flex;
  flex-direction: column;
  flex: .5;
  justify-content: space-around;
}