.sidebar {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 120px;
    height: 100%;
    z-index: -1;
}

.copiryghting {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    bottom: 120px;
    left: -5px;
    // right: 20px;
    rotate: -90deg;
}