.custom-tooltip--bar-chart {
    background-color: #FF0101;
    color: #fff;
    padding: 5px 10px;
    font-size: 8px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}



.bar-chart-article {
    flex: 1;
    background-color: #00000005;
    height: 100%;
    border-radius: 10px;
}